<script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" />
<link rel="stylesheet" href="{{ asset('css/jquery-ui.structure.min.css') }}" />
<link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.min.css') }}" />



{{ form(form) }}


<hr>
<br>


<ul>
{% for category in categories %}
    <li>{{ category }} <button onclick="javascript:edit_category( '{{ category.id }}' );">Edit</button></li>

    <ul>
    {% for child in category.children %}
        <li>{{ child }} <button onclick="javascript:edit_category( '{{ child.id }}' );">Edit</button></li>
    {% endfor %}
    </ul>

{% endfor %}
</ul>

<script>

    $(function() {
        var dialog;

        dialog = $( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Save": addUser,
                Cancel: function() {
                    dialog.dialog( "close" );
                }
            },
            close: function() {
/*                form[ 0 ].reset();
                allFields.removeClass( "ui-state-error" );*/
            }
        });


    });

    function addUser(){

    }

    function edit_category(id){
        $( "#dialog-form" ).load( "ajax/test.html" );

        $( "#dialog-form" ).dialog( "open" );
    }

</script>


<div id="dialog-form" title="Edit category">

    <form>
        <fieldset>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">

        </fieldset>
    </form>
</div>

